# Віртуальне середовище (обов'язково!)
venv/
ENV/
env/

# Тимчасові файли Python
__pycache__/
*.py[cod]

# Твої дані та звіти (щоб не засмічувати репозиторій)
weather_report.json
*.log

# Якщо ти винесеш ключ у файл .env (рекомендовано)
.env